<div class="details-container">
    {{#with blog}}
    <div class="details-container-image">
        <img src="{{imageUrl}}">
    </div>
    <div class="details-container-info">
        <h2>{{title}}</h2>
        <h3>{{blogCategory}}</h3>
        <h3>By: </h3>
        {{#if followList}}
        <h4>Follow By: jace.m, sandra.p</h4>
        {{else}}
        <h4>There are no followers yet!</h4>
        {{/if}}
    </div>
    <div class="details-container-content">
        <p>{{content}}</p>
    </div>
    <div class="btn-container">
        {{#if isOwner}}
        <a href="/blog/{{_id}}/edit">Edit</a>
        <a href="/blog/{{_id}}/delete">Delete</a>
        {{else}}
            {{#if followed}}
            <p class="follow-pub">You already follow this blog!</p>
            {{else}}
            <a href="/blog/{{_id}}/follow">Follow</a>
            {{/if}}
        {{/if}}
    </div>
    {{/with}}
</div>